@model ComicBookGallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
    //object initializer syntax is following the curly bracket when initializing the object
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicbook in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(comicbook.DisplayText, "Detail",
               new { id = comicbook.Id  }  )</h4>
             <img src="~/Images/@comicbook.CoverImageFileName" alt="@comicbook.DisplayText" class="img-responsive" />
        </div>
    }

</div>

